<h2>Side Projects / Consulting</h2>
<table class="table table-hover table-bordered">
  	<tbody>
    	<tr>
	      	<td><%= link_to "Wedding App", "https://github.com/diasks2/dk2012" %></td>
	      	<td class="table_right">September 2012</td>
    	</tr>
    	<tr>
	      	<td colspan="2">	
	      		Created a multi-lingual Ruby on Rails web app to help a client manage guests for an international wedding.
	      	</td>
    	</tr>
    	<tr>
	      	<td>
	      		<%= link_to "Interior Design Website", "http://www.onefourteenbailey.com" %>
	      	</td>
	      	<td class="table_right">December 2012</td>
    	</tr>
    	<tr>
    		<td colspan="2">
		      	Created an interior design website for One Fourteen Bailey
	      	</td>	
    	</tr>
  	</tbody>
</table>