<h2>Education</h2>
<table class="table table-hover table-bordered">
  	<tbody>
    	<tr>
	      	<td><strong><%= link_to(image_tag("wfu_logo.png", :alt => "Wake Forest University Logo"), "http://www.wfu.edu") %> <%= link_to "Wake Forest University", "http://www.wfu.edu" %></strong>, Winston-Salem, NC</td>
	      	<td class="table_right">May 2006</td>
    	</tr>
    	<tr>
	      	<td colspan="2">
	      		<em>Wayne Calloway School of Business and Accountancy</em><br>
				Bachelor of Science in Business, Minor in International Studies<br>
				Cum Laude; Dean’s List all semesters<br>
				Thomas H. Davis Business Scholarship Recipient<br>
	      	</td>
    	</tr>
    	<tr>
	      	<td><strong><%= link_to(image_tag("kansai_gaidai_logo.png", :alt => "Kansai Gaidai University Logo"), "http://www.kansaigaidai.ac.jp") %> <%= link_to "Kansai Gaidai University", "http://www.kansaigaidai.ac.jp" %></strong>, Hirakata-Shi, Japan</td>
	      	<td class="table_right">August 2004 – June 2005</td>
    	</tr>
    	<tr>
	      	<td colspan="2">
	      		One year study abroad program<br>
	      		Focus on international business and Japanese language classes<br>
	      	</td>
    	</tr>
  	</tbody>
</table>