<div data-spy="affix" data-offset-top="200">
	<table class="table table-hover table-bordered">
	  	<tbody>
	    	<tr>
		      	<td><%= image_tag("bifluent_logo_bw.png", :alt => "BiFluent", :mouseover => "bifluent_logo.png") %></td>
		    </tr>
		    <tr>
		      	<td><%= image_tag("putterking_logo_bw.png", :alt => "Putter King", :mouseover => "putterking_logo.png") %></td>
	    	</tr>
	  	</tbody>
	</table>
</div>